div {
  color: white;
}

body{
  overflow-y: scroll;
  -ms-overflow-style:none;
  scrollbar-width:none;
  background-color: #d3d3d3;
}

body::-webkit-scrollbar{
  display: none;
}

.wrapper{
  width:100vw;
  text-align: center;
  background-image: url(../image/explain_2.png);
  background-repeat: no-repeat;
  margin: 180px auto;

}

.odd {
  background-color: #000;
}
.even {
  background-color: #000;
}

.p1{
  background-image: url(../image/p1_large.png);
}

.p2{
  background-image: url(../image/p2_large.png);
}

.p2 iframe{
  width: 843px;
  height:502px;
}

.p3{
  background-image: url(../image/p3_large.png);
}

.p4{
  background-image: url(../image/p4_large.png);
}


.p5{
  background-image: url(../image/p5_large.png);
}

.p6{
  background-image: url(../image/p6_large.png);
}

.p7{
  background-image: url(../image/p7_large.png);
}

.p8{
  background-image: url(../image/p8_large.png);
}
.p8 iframe{
  width:843px;
  height:480px;
}

.p9{
  background-image: url(../image/p9_large.png);
}

.p9 iframe{
    float: left;
    margin: 25px 45px;
    width: 410px;
    height:285px;
}


.p10{
  background-image: url(../image/p10_large.png);
}

.p10 iframe, .p11 iframe {
  width:320px;
  height: 270px;
}

.p11{
  background-image: url(../image/p11_large.png);
}

.p12{
  background-image: url(../image/p12_large.png);
}

.p12 iframe{
	margin-top:28px;
  width:790px;
  height:430px;
}

.p13{
  background-image: url(../image/p13_large.png);
}

.p14{
  background-image: url(../image/p14_large.png);
}

.p15{
  background-image: url(../image/p15_large.png);
}

.p16{
  background-image: url(../image/p16_large.png);
}

.p17{
  background-image: url(../image/p17_large.png);
}

.p18{
  background-image: url(../image/p18_large.png);
}

.p19{
  background-image: url(../image/p19_large.png);
}

.p20{
  background-image: url(../image/p20_large.png);
}

.sm_mov{
}

.sm_mov table{
margin: 35px auto 0;
}

.sm_mov tr{

}

.sm_mov td{
padding: 0 40px;
}


#flipbook {
  width: 1686px;
  height: 596px;
  margin:auto;
}
